header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 30%;
    width: 500px;
    height: 90px;
    background-color: map-get($colors,colorback);
    padding: 10px 10px 15px 0px;
    margin-top: 10px;
    transition: all 0.8s ease;
    
    &:hover{
        transform: scale(1.10);
        transition: all 0.8s ease;
    }

    .logo{
        height: 50px;
        width: 100px;
    }
    .imglogo{
        width: 65px;
        height: 65px;
        &:hover{ 
            transition: all 1s ease;
            transform: scale(1.15);
        }
    }
    .titulo{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: map-get($colors, primario);
        font-style: oblique;
        font-size: 250%;
        font-weight: bold;
    }
}
.subtitulo{
        position: relative;
        left: 40%;
        background-color: map-get($colors, colorback);
        width: 250px;
        text-align: center;
        font-style: italic;
        color: map-get($colors, secundario);
}
.canchasimg{
        display: flex;
        position: relative;
        left: 19%;
        width: 800px;
        height: 200px;
        margin: 40px 0px;
}


