nav{
    display: flex;
    justify-content: space-between;
    margin: 120px 20px 300px 20px;
    text-align: center;

    a{
        color: darkblue;
    }
    .tablanav{
        border: 2px;
        color: black;
    }
    .turnosnav{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: darkblue;
        font-size: 90%;
        text-align: left;
        font-weight: bold;
        transition: all 0.8s ease;
        &:hover{
            transform: scale(1.05);
            transition: all 0.8s ease;
        }
    }
    .rankingnav{
        color: darkblue;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 90%;
        text-align: left;
        font-weight: bold;
        transition: all 0.8s ease;
        &:hover{
            transform: scale(1.05);
            transition: all 0.8s ease;
        }
    }
    .torneosnav{
        color: darkblue;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 90%;
        text-align: left;
        font-weight: bold;
        transition: all 0.8s ease;
        &:hover{
            transform: scale(1.05);
            transition: all 0.8s ease;
        }
    }
    .inscripcionesnav{
        color: darkblue;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 80%;
        text-align: left;
        font-weight: bold;
        transition: all 0.8s ease;
        &:hover{
            transform: scale(1.05);
            transition: all 0.8s ease;
        }
    }
    .tiendanav{
        color: darkblue;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 90%;
        text-align: left;
        font-weight: bold;
        transition: all 0.8s ease;
        &:hover{
            transform: scale(1.05);
            transition: all 0.8s ease;
        }
    }
    .contactanosnav{
        color: darkblue;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 90%;
        text-align: left;
        font-weight: bold;
        transition: all 0.8s ease;
    }
    .imgturnos{
        width: 65px;
        transition: all 0.8s ease;
        &:hover{
            transition: all 0.8s ease;
            transform: skew(-8deg);
        }
    }
    .imgranking{
        width: 60px;
        transition: all 0.8s ease;
        &:hover{
            transition: all 0.8s ease;
            transform: skew(8deg);
        }
    }
    .imgtorneos{
        width: 60px;
        transition: all 0.8s ease;
        &:hover{
            transition: all 0.8s ease;
            transform: skew(10deg);
        }
    }
    .imginscripciones{
        width: 60px;
        transition: all 0.8s ease;
        &:hover{
            transition: all 0.8s ease;
            transform: skew(-10deg);
        }
    }
    .imgtienda{
        width: 75px;
        transition: all 0.8s ease;
        &:hover{
            transition: all 0.8s ease;
            transform: rotateY(180deg);
        }
    }
    .imgcontactanos{
        width: 65px;
        transform: rotatey(180deg);
    }
    .sponsor{
        display: flex;
        left: 85%;
        top: 108%;
    }
    .ranking{
        display: flex;
        right: 30%;
        top: 90%;
        text-align: center;
        width: 385px;
        height: 495px;
        overflow: auto;
        display: inline-block;
        color: darkblue;
        font-weight: bold;
    }
    .tabla{
        border: 2px solid;
        color: black;
        font-weight: bold;
    }
    .turnos{
        text-align: center;
        color: darkblue;
        font-weight: bold;
        border: 2px;
        width: 500px;
        height: 300px;
    }
    .letras{
        color: darkblue;
        font-weight: bold;
    }
    .imgfechatorneo1{
        display: flex;
        right: 20%;
        top: 90%;
        width: 350px;
        height: 490px;
    }
    .imgfechatorneo2{
        display: flex;
        right: 50%;
        top: 90%;
        width: 350px;
        height: 490px;
    }
    .inscripciones{
        display: flex;
        right: 30%;
        top: 110%;
        text-align: center;
        color: darkblue;
        font-weight: bold;
    }
    .tienda{
        display: flex;
        right: 30%;
        top: 90%;
        text-align: center;
        width: 385px;
        height: 510px;
        display: inline-block;
        color: darkblue;
        font-weight: bold;
    }
    

}