nav{
    display: flex;
    margin: 120px 20px 300px 20px;
    text-align: center;
    justify-content: space-between;
    a{
        color: map-get($colors, terciario);
    }
    .tablanav{
        border: 2px;
        color: map-get($colors, colorback);
    }
    .turnosnav{
        font-family: Open Sans;
        color: map-get($colors, terciario);
        font-size: 92%;
        text-align: left;
        font-weight: bold;
        transition: all 0.8s ease;
        &:hover{
            transform: scale(1.05);
            transition: all 0.8s ease;
        }
    }
    .rankingnav{
        color: map-get($colors, terciario);
        font-family: Open Sans;
        font-size: 92%;
        text-align: left;
        font-weight: bold;
        transition: all 0.8s ease;
        &:hover{
            transform: scale(1.05);
            transition: all 0.8s ease;
        }
    }
    .torneosnav{
        color: map-get($colors, terciario);
        font-family: Open Sans;
        font-size: 92%;
        text-align: left;
        font-weight: bold;
        transition: all 0.8s ease;
        &:hover{
            transform: scale(1.05);
            transition: all 0.8s ease;
        }
    }
    .inscripcionesnav{
        color: map-get($colors, terciario);
        font-family: Open Sans;
        font-size: 82%;
        text-align: left;
        font-weight: bold;
        transition: all 0.8s ease;
        &:hover{
            transform: scale(1.05);
            transition: all 0.8s ease;
        }
    }
    .tiendanav{
        color: map-get($colors, terciario);
        font-family: Open Sans;
        font-size: 92%;
        text-align: left;
        font-weight: bold;
        transition: all 0.8s ease;
        &:hover{
            transform: scale(1.05);
            transition: all 0.8s ease;
        }
    }
    .contactanosnav{
        color: map-get($colors, terciario);
        font-family: Open Sans;
        font-size: 92%;
        text-align: left;
        font-weight: bold;
        transition: all 0.8s ease;
    }
    .imgturnos{
        width: 65px;
        transition: all 0.8s ease;
        &:hover{
            transition: all 0.8s ease;
            transform: skew(-8deg);
        }
    }
    .imgranking{
        width: 60px;
        transition: all 0.8s ease;
        &:hover{
            transition: all 0.8s ease;
            transform: skew(8deg);
        }
    }
    .imgtorneos{
        width: 60px;
        transition: all 0.8s ease;
        &:hover{
            transition: all 0.8s ease;
            transform: skew(10deg);
        }
    }
    .imginscripciones{
        width: 60px;
        transition: all 0.8s ease;
        &:hover{
            transition: all 0.8s ease;
            transform: skew(-10deg);
        }
    }
    .imgtienda{
        width: 75px;
        transition: all 0.8s ease;
        &:hover{
            transition: all 0.8s ease;
            transform: rotateY(180deg);
        }
    }
    .imgcontactanos{
        width: 65px;
        transform: rotatey(180deg);
    }
    .sponsor{
        display: flex;
        left: 85%;
        top: 108%;
    }
    .ranking{
        display: flex;
        right: 30%;
        top: 90%;
        text-align: center;
        width: 385px;
        height: 495px;
        overflow: auto;
        display: inline-block;
        color: map-get($colors, terciario);
        font-weight: bold;
    }
    .tabla{
        border: 2px solid;
        color: map-get($colors, colorback);
        font-weight: bold;
    }
    .turnos{
        text-align: center;
        color: map-get($colors, terciario);
        font-weight: bold;
        border: 2px;
        width: 500px;
        height: 300px;
    }
    .letras{
        color: map-get($colors, terciario);
        font-weight: bold;
    }
    .imgfechatorneo1{
        display: flex;
        right: 20%;
        top: 90%;
        width: 350px;
        height: 490px;
    }
    .imgfechatorneo2{
        display: flex;
        right: 50%;
        top: 90%;
        width: 350px;
        height: 490px;
    }
    .inscripciones{
        display: flex;
        right: 30%;
        top: 110%;
        text-align: center;
        color: map-get($colors, terciario);
        font-weight: bold;
    }
    .tienda{
        display: flex;
        color: map-get($colors, terciario);
        font-weight: bold;
    }
    .robber8multi{
        width: 100px;
    }
    .varlionavant{
        width: 120px;
    }
    @mixin btn-style($background, $typography){
        background-color: $background;
        color: $typography;
    }
    .btn{
        background-color: map-get($colors, colorback);
        border: 2px;
    }
    
    .btn-uno{
        @extend .btn;
        color: map-get($colors, primario);
    }
    .btn-dos{
        @include btn-style(black, red)
    }

}